@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <script src="../../Scripts/Runtime/ClixStack/ClixStackRunTime.js" type="text/javascript"></script>
</head>
<body>

</body>
</html>
